$primary-color: #445f84;
$secondary-color: #55739d;

@media(-ms-high-contrast:active),(-ms-high-contrast:none) {
	.cta .col {
		flex-basis: 110px;
	}
}

.sticky-header.fixed.header-middle .menu > li > a {
	padding-top: 4rem;
	padding-bottom: 3.1rem;
	&:after {
		top: 55%;
	}
}

.product.product-5 .product-media:before {
	padding-top: 95%;
}

.container-fluid .main-nav {
	margin-right: auto !important;
}

.footer-dark .footer-bottom .container-fluid:before {
    background-color: #525455;
}

.title-lg {
	font-weight: 400;
}

.live-search-list {
	left: -25rem;

	.header-search-wrapper.show & {
		display: block;
	}
}

.heading.heading-center .title-lg {
	margin-bottom: 1.4rem;
}

.intro-slider.owl-simple.owl-nav-inside .owl-dots {
	bottom: 25px;
}

.intro-slider-container,
.intro-slide,
.banner {
	background-color: #e6e6e6;
}

.intro-slider-container,
.intro-slider .slide-image {
	&:before {
	    padding-top: 499px
	}
}

.intro-slider-container .owl-simple.owl-light .owl-dots .owl-dot {
	&:hover,
	&.active {
		span {
			border-color: #ccc;
			background: #ccc;
		}
	}

	span {
		border-color: #ccc;
	}
}

.intro-content {
	position: absolute;
	left: 20px;
    top: 49.2%;
	z-index: 10;
	transform: translateY(-50%);
	margin-top: -1rem;

	.btn {
		i:last-child {
			font-size: 1.5rem;
			margin-left: 2.5rem;
		}
	}
}

.intro-subtitle {
	font-size: 2rem;
	margin-bottom: .5rem;
	color: #ebebeb;
	font-weight: 300;
    letter-spacing: -.01em;
}

.intro-title {
	margin-left: -2px;
	margin-bottom: .2rem;
	font-weight: 600;
	letter-spacing: -.03em;
	line-height: 1.1;
}

.intro-price {
	color: #333333;
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -.03em;
	margin-bottom: 1.3rem;
}

.intro-slide {
	picture {
		bottom: 0;
	}

	img {
		height: 100%;
		object-fit: cover;
	}
}

.icon-boxes-container {
	padding-top: .45rem;
	padding-bottom: 3rem ;
}

.icon-box-side {
	padding-left: .5rem;
	.icon-box-icon {
		font-size: 4rem;
	}
	.icon-box-title {
		text-transform: uppercase;
	}
	p {
		letter-spacing: -.01em;
	}
}

.banner-text {
	a {
		color: inherit;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

.banner-group .banner-subtitle.bright-black {
	color: #666;
}

.banner-group {
	.banner-subtitle {
		font-weight: 300;
		letter-spacing: -.01em;
		margin-bottom: .6rem;
		color: #ebebeb;
	}
	.banner-title {
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 1.25;
		margin-bottom: .1rem;
		letter-spacing: -.01em;
	}

	.banner-text {
		color: $dark-text;
		font-weight: 300;
		font-size: 2.4rem;
		line-height: 1.25;
		letter-spacing: -.025em
	}

	.banner-link {
		margin-top: 1.4rem;
		padding: .8rem 2rem;
	}

	.btn {
		min-width: 110px;
	}

	.banner-large {
		.banner-content {
			left: 3rem;
		}
	}

	.banner-middle {
		.banner-content {
			left: 2.5rem;
		}
	}

	.banner-content {
		left: 30px;

		&.banner-content-bottom {
			bottom: 40px;
		}

		&.banner-content-right {
			left: auto;
			right: 25px;
		}
	}

	.banner-1, .banner-2, .banner-3 {
		.lazy-media:before {
			padding-top: 25rem;
		}
	}

	.banner-4 .lazy-media:before {
		padding-top: 52rem;
	}
}

.banner-content-overlay {
	padding-top: 1.1rem;
}

.home-page {
	.product {
		.btn-product-icon {
			border: 1px solid #445f84;
		}

		.btn-expandable span {
			top: -1px;
			bottom: -1px;
		}
	}

	.banner {
		background-color: #e6e6e6;
	}
	.nav .bg-white {
		background-color: transparent !important;
	}

	.nav.nav-pills .nav-link {
		font-size: 1.4rem;
	}

	.banner-cat .lazy-media:before {
		padding-top: 74.47%;
	}

	/* Product Product-3 */
	.product.product-3 {
		
		&:hover,
		&:focus {
			.product-media::before {
				opacity: .2;
			}
		}
		.product-media::before {
			@include aspect-ratio(290, 275);
		}
	
		.product-body {
			padding: 1.6rem 1rem 0;
			z-index: 3;
		}
	
		.product-cat {
			font-weight: 400;
			color: #ccc;
			margin-bottom: 1rem;
	
			a {
				transition: all .35s ease;
				&:hover,
				&:focus {
					color: #777;
					box-shadow: 0 1px 0 #bcbcbc;
				}
			}
		}
	
		.product-title {
			line-height: 1.3;
			margin-bottom: 1.2rem;
		}
	
		.product-price {
			color: #333;
			font-weight: 500;
			margin-bottom: 0;
		}
	
		.product-body {
			padding-bottom: 1.8rem;
			transition: transform .35s ease;
		}
	
		.product-footer {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
			transform: translateY(100%);
			visibility: hidden;
			transition: all .35s ease;
			padding: 0;
			z-index: 4;
		}
	
		.product-action {
			position: static;
			left: auto;
			right: auto;
			bottom: auto;
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
			background-color: transparent;
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			border-top: .1rem solid #ebebeb;
			border-bottom: none;
			margin-top: 2rem;
		}
	
		.btn-product {
			font-weight: 400;
			padding-top: .1rem;
			padding-bottom: .1rem;
			text-transform: uppercase;
		}
	
		.btn-product:not(:hover):not(:focus) span {
			color: $primary-color;
		}
	
		.btn-product + .btn-product {
			border-left-style: solid;
		}
	}
	
	.product-countdown-container {
		background-color: #f7f7f7;
		border-radius: 0;
	
		.product-contdown-title {
			color: #777;
		}
	
		.product-countdown .countdown-amount {
			text-transform: capitalize;
			color: $primary-color;
		}
	}
	
	.products {
		.row {
			margin-left: 0;
			margin-right: 0;
	
			> .col,
			> [class*=col-] {
				padding-left: 0;
				padding-right: 0;
			}
		}
	
		.product {
			margin-bottom: 0;
			border-bottom: .1rem solid #eee;
			height: 100%;
		}
	}
	
	.blog-posts {
		.entry-media {
			margin-bottom: 1.5rem;
		}
	
		.entry-content p  {
			margin-bottom: .7rem;
			line-height: 1.73;
		}
	
		.entry-meta {
			margin-bottom: .3rem;
			color: #ccc;
		}
	
		.entry-title {
			font-weight: 400;
			font-size: 2rem;
			margin-bottom: .9rem;
			letter-spacing: -.01em;
		}
	}
	
	.tab-content-carousel {
		.owl-carousel .owl-stage-outer {
			margin-left: 2px;
			background-color: #eee;
		}
	}

	.tab-content-carousel .owl-simple .owl-dots {
		padding-top: 1rem;
	}

	.nav.nav-pills .nav-link {
		font-size: 1.4rem;
	}

	.product.product-7 .product-media img {
		height: 100%;
		object-fit: cover;
	}
}

.arrival {
	.product {
		padding-bottom: 1rem;
	}
}

.home-page {
	.cta {
		.input-group {
			margin-bottom: .5rem;
		}

		.form-control {
			padding-bottom: 1.2rem;
			height: 46px;
			color: #333;
			border-color: #f4f4f4;
			background-color: #f4f4f4;
			border-right-width: 0;

			&::placeholder {
				font-style: italic;
			}
		}

		.input-group-round {
			border-radius: 30px;

			.btn {
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
			}
		}

		.btn span {
			line-height: 1.2;
		}
	}

	.cta-title {
		font-size: 2.4rem;
		letter-spacing: -.01em;
		font-weight: 600;
	}

	.cta-heading {
		margin-bottom: 2.5rem;

		.cta-title {
			margin-bottom: .3rem;
		}
	}

	.cta-desc {
		font-size: 1.6rem;
	}

	.cta-horizontal {
		padding: 4.5rem 3rem 4.5rem;

		.cta-title {
			font-size: 2.2rem;
			margin-bottom: .8rem;
			letter-spacing: -.01em;
			font-weight: 600;
		}

		.cta-desc {
			color: #666;
			font-size: 1.4rem;
			font-weight: 400;
		}
	}

	.cta .btn:not(.btn-block) {
		min-width: 160px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.4rem;
	}
}

.font-weight-medium {
	font-weight: 500;
}

.blog-posts .read-more {
	font-size: 1.4rem;
}

.entry-content {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.home-page .products {
	[class*=col-] {
		border-right: .1rem solid #eee;

		&:nth-child(2n) {
			border-right-width: 0;
		}
	}
}

@include mq('sm') {
	.home-page .cta {
		.input-group {
			background-color: #f4f4f4;
		}
	}

	.home-page .cta .input-group-round .btn {
		margin-right: -2px;
	}

	.home-page .cta-horizontal {
		.btn:not(.btn-block) {
			min-width: 270px;
		}
	}

	.intro-content {
		left: 50px;

		.btn {
			font-size: 1.2rem;
			min-width: 110px;
			padding-top: .75rem;
			padding-bottom: .75rem;
		}
	}
}

@include mq('md') {
	.intro-content {
		left: 70px;

		.btn {
			font-size: 1.3rem;
			min-width: 130px;
			padding: .95rem 1.5rem;
		}
	}

	.intro-subtitle {
		margin-bottom: 1rem;
	}

	.intro-price {
		font-size: 2.4rem;
		margin-bottom: 1.8rem;
	}

	.home-page .products {
		[class*=col-] {
			&:nth-child(2n) {
				border-right-width: .1rem;
			}

			&:nth-child(3n) {
				border-right-width: 0;
			}
		}
	}

	.home-page .cta-horizontal {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.banner-group {
		.banner-large .banner-content {
			left: 7rem
		}

		.banner-middle {
			.banner-content {
				left: 5rem;
			}
		}
	}
}

@include mq('lg') {
	.intro-slider.owl-simple.owl-nav-inside .owl-dots {
		bottom: 30px;
	}

	.intro-content {
		.btn {
			min-width: 170px;
		}
	}

	.intro-subtitle {
		margin-bottom: 1.4rem;
	}

	.intro-title {
		font-size: 5.2rem;
	}

	.intro-price {
		font-size: 2.8rem;
		margin-bottom: 2.3rem;
	}

	.home-page .products {
		[class*=col-] {
			&:nth-child(3n) {
				border-right-width: .1rem;
			}

			&:nth-child(4n) {
				border-right-width: 0;
			}
		}
	}
	
	.home-page .cta-horizontal {
		padding-left: 7rem;
		padding-right: 7rem;
	}
}

@include mq('xl') {
    .header-8 {
        .main-nav {
            margin-right: 35.5rem;
        }
    }

	.intro-price {
		font-size: 3rem;
	}

	.home-page .products {
		[class*=col-] {
			&:nth-child(4n) {
				border-right-width: .1rem;
			}

			&:nth-child(5n) {
				border-right-width: 0;
			}
		}
	}

	.intro-content {
		left: 100px;

		.btn {
			font-size: 1.4rem;
		    padding-top: 1.1rem;
    		padding-bottom: 1.2rem;
		}
	}
}

@include mq('375px', 'max') {
	.home-page {
		.product.product-3 .btn-product {
			span {
				display: none;
			}
	
			.btn-quickview {
				border-left: none;
			}
		}
	
		.product.product-3 .product-action {
			&:before {
				position: absolute;
				content: '';
				height: 2.3rem;
				right: 50%;
				width: .1rem;
				background: #d1d1d3;
				z-index: 1;
			}
		}
	
		.product.product-3 .btn-product + .btn-product {
			border: none;
		}
	}
}

@include mq('lg', 'max') {
    .header-middle .container-fluid .header-right {
        justify-content: flex-end;
    }
}

@include mq('xs', 'max') {
	.home-page .cta-horizontal {
		padding: 4.5rem 2rem 4.5rem;
	}
}